html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Limit 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-8 {
  display: -webkit-box;
  line-clamp: 8;
  -webkit-line-clamp: 8; /* Limit 8 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
}

.masonry-container {
  column-count: 1;
  column-gap: 8px;
}

.masonry-container .masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  break-inside: avoid;
}

/* Responsive columns */
@media (min-width: 600px) {
  .masonry-container {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .masonry-container {
    column-count: 3;
  }
}